.toggle-area{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50rem;
    right: 0;
    left: 0;
    bottom: 0;
}

.toggle-area > p {
    font-weight: bold;
    color: #fff;
    font-size: 1.5rem;
}

.toggle-area > div {
    margin-left: 1rem;
}

.toggle-button {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 40px;
    background-color: #6c5ce7;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
  }
  
  .toggle-button__button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    z-index: 2;
  }
  
  .toggle-button__indicator {
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(50% - 4px);
    height: calc(100% - 4px);
    background-color: #fff;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
  }
  
  .toggle-button__button:focus {
    outline: none;
  }
  
  .toggle-button__button:focus + .toggle-button__indicator {
    transform: translateX(50%);
  }
  
  .toggle-button__button:nth-child(1):active + .toggle-button__indicator {
    transform: translateX(0%);
  }
  
  .toggle-button__button:nth-child(2):active + .toggle-button__indicator {
    transform: translateX(50%);
  }
  
  .toggle-button__button:nth-child(2) {
    left: 50%;
    text-align: right;
    padding-right: 5px;
  }
  
  .toggle-button__button:nth-child(2):before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 8px;
    height: 8px;
    background-color: #fff;
    transform: translateY(-50%) rotate(45deg);
    z-index: 2;
    transition: transform 0.3s ease-in-out;
  }
  
  .toggle-button__button:nth-child(2):active:before {
    transform: translateY(-50%) rotate(-135deg);
  }
  
  .toggle-button__button:nth-child(1):before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #fff;
    transform: translateY(-50%) rotate(-135deg);
    z-index: 2;
    transition: transform 0.3s ease-in-out;
  }
  
  .toggle-button__button:nth-child(1):active:before {
    transform: translateY(-50%) rotate(45deg);
  }
  
  

.overlay{
    width: 100vw;
    height: 100vh; 
    z-index: 1000;   
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(49, 49, 49, 0.5);
}

.youtube-player{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    height: 80%; 
}

.carousel-area{  
  cursor: pointer
}

.carousel-content h5{
    text-align: center;
}



